Source: shinken
Maintainer: Thibault Cohen <thibault.cohen@savoirfairelinux.com>
Uploaders: Mathieu Parent <math.parent@gmail.com>
Section: net
Priority: extra
Vcs-Git: git://anonscm.debian.org/collab-maint/shinken.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/shinken.git;a=summary
Standards-Version: 3.9.5
XS-Python-Version: >= 2.5, << 3.0
Build-Depends: python, debhelper (>= 9), quilt, python-setuptools, po-debconf
Homepage: http://www.shinken-monitoring.org

Package: shinken
Architecture: any
Depends: shinken-common (= ${binary:Version}), ${misc:Depends},
 shinken-module-broker-webui (= ${binary:Version}),
 shinken-module-broker-webui-cfgpassword (= ${binary:Version}),
 shinken-module-broker-webui-sqlitedb (= ${binary:Version}),
 shinken-module-retention-picklefile (= ${binary:Version}),
Suggests: shinken-doc
Description: Flexible monitoring tool - Meta-package
 This meta-package install a minimal and fully functionnal monitoring solution
 based on Shinken and its WebUI module.
 .
 Shinken is a new, Nagios compatible monitoring tool, written in Python. The
 main goal of Shinken is to allow users to have a fully flexible architecture
 for their monitoring system that can easily scale to large environments.

Package: shinken-common
Architecture: any
Breaks: shinken-core (<< 1.4), shinken (<< 1.4)
Replaces: shinken-arbiter, shinken-broker, shinken-discovery,
 shinken-poller, shinken-reactionner, shinken-receiver,
 shinken-scheduler, shinken-core
Depends: ${python:Depends}, pyro | python2-pyro4, ${misc:Depends}, adduser
Recommends: nagios-plugins-basic, bsd-mailx | mailx,
 shinken-module-broker-webui (= ${binary:Version}),
 shinken-module-broker-webui-cfgpassword (= ${binary:Version}),
 shinken-module-broker-webui-sqlitedb (= ${binary:Version}),
 shinken-module-retention-picklefile (= ${binary:Version}),
Description: Flexible monitoring tool - Common files
 Common files for shinken monitoring.
 .
 Shinken is a new, Nagios compatible monitoring tool, written in Python. The
 main goal of Shinken is to allow users to have a fully flexible architecture
 for their monitoring system that can easily scale to large environments.

Package: shinken-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Flexible monitoring tool - Documentation
 Shinken documentation.
 .
 Shinken is a new, Nagios compatible monitoring tool, written in Python. The
 main goal of Shinken is to allow users to have a fully flexible architecture
 for their monitoring system that can easily scale to large environments.
