#!/usr/bin/make -f

%:
	dh $@ --with python2 --install-layout=deb,quilt

override_dh_clean:
	rm -rf ./build
	rm -rf ./Shinken.egg-info
	dh_clean

override_dh_installinit:
	dh_installinit --no-start --name=shinken
